<div class="card p-4 shadow-sm">
  <h3 class="text-warning"><i class="bi bi-arrow-return-left me-2"></i>Devolver Libro</h3>

  <div class="mb-2">
    <label class="form-label small">Nombre del Usuario</label>
    <input
      class="form-control"
      placeholder="Usuario que tiene el libro"
      [(ngModel)]="usuario"
      list="listaUsuariosPrestamos"
    />
    <datalist id="listaUsuariosPrestamos">
      @for (p of biblioteca.prestamos; track $index) {
        <option [value]="p.usuario"></option>
      }
    </datalist>
  </div>

  <div class="mb-2">
    <label class="form-label small">Título del libro</label>
    <input
      class="form-control"
      placeholder="Libro a devolver"
      [(ngModel)]="titulo"
      list="listaLibrosPrestados"
    />
    <datalist id="listaLibrosPrestados">
      @for (p of biblioteca.prestamos; track $index) {
        <option [value]="p.libro"></option>
      }
    </datalist>
  </div>

  <div class="mb-3">
    <label class="form-label small fw-bold">Días de retraso</label>
    <div class="input-group">
      <input type="number" class="form-control" [(ngModel)]="dias" min="0" />
      <span class="input-group-text">días</span>
    </div>
  </div>

  <button
    class="btn btn-warning w-100 fw-bold"
    (click)="devolver()"
    [disabled]="!usuario || !titulo"
  >
    Confirmar Devolución
  </button>
</div>
