<div class="card p-4">
  <h3>Solicitar préstamo</h3>

  <input class="form-control mb-2" [(ngModel)]="usuario" placeholder="Usuario" />

  <input class="form-control mb-2" [(ngModel)]="titulo" placeholder="Libro" />

  <button class="btn btn-success" (click)="prestamo()">Solicitar</button>
</div>

<table class="table mt-3">
  <tr>
    <th>Usuario</th>
    <th>Libro</th>
  </tr>

  @for (p of biblioteca.prestamos; track $index) {
    <tr>
      <td>{{ p.usuario }}</td>
      <td>{{ p.libro }}</td>
    </tr>
  } @empty {
    <tr>
      <td colspan="2" class="text-center">No hay préstamos activos.</td>
    </tr>
  }
</table>
